SECRET_KEY=django-insecure-your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=.vercel.app,127.0.0.1,localhost
DATABASE_URL=sqlite:///db.sqlite3
# For PostgreSQL (Production):
# DATABASE_URL=postgres://user:password@host:port/dbname
